<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate AI Image</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="./img/logo.png">
</head>
<body>
    <div class="container">
        <h1>Generate AI Image</h1>
        <form id="generate-form">
            <input type="text" id="prompt" placeholder="Enter your prompt">
            <button type="submit">Generate Image</button>
        </form>
        <div id="result"></div>
    
        <p class="copyright">
            &copy; AI Image Generator || Created by Evan
        </p>
    </div>

    <script src="/static/js/main.js"></script>
</body>
</html>
